<div id="component">
  <div id="left-col">
    <div class="header-time item">Time</div>
    <div class="time-bar syncscroll" name="scrollable">
      <time-bar></time-bar>
    </div>
  </div>   
  <div id="right-col">
    <div class="headers syncscroll" name="scrollable">
      <div class="header-box item" *ngFor="let i of items">{{ i.getHeader }}</div>
    </div>
    <div class="box-list-container syncscroll" name="scrollable">
      <box-list-item *ngFor="let i of items" [item]="i"></box-list-item>
    </div>
  </div>
</div>