#component{
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    padding: 10px 0 0 5px;
}

#left-col{
    /* max-width: 100px; */
    flex-grow: 0;
}

#right-col{
    flex-grow: 1;
    max-width: 90%;
    /* overflow: auto; */
}

:host /deep/ .item{
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    vertical-align: middle;
    margin: 0 5px;
    padding: 2px;
    min-width: 90px;
    min-height: 20px;
}

.box-list-container{
    display: flex;
    justify-content: space-between;
    height: 72vh;
    overflow-x: auto;
    overflow-y: auto;
}

box-list-item{
    min-width: 150px;
    flex-grow: 1;
    /* height: 100vh; */
}

.time-bar{
    /* flex-grow: 0; */
    /* max-width: 90px; */
    /* overflow-y: scroll; */
    height: 72vh;
    overflow-y: hidden;
}

:host /deep/ .header{
    background-color: rgba(255, 255, 255);
    position: sticky;
    top:0px;
}

/* .headers{
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    overflow-x: auto;
}

.header-time, .header-box{
    padding: 5px;
    margin: 5px;
}

.header-time{
    min-width: 90px;
    flex-grow: 0;
}

.header-box{
    flex-grow: 1;
} */

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}