#body-content {
  position: absolute;
  background-image: url('/assets/img/carwash-background.png');
  background-size: cover; 
  margin-left: 280px;
  width: calc(100% - 280px);
  height: 100%; 
  overflow: hidden;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

#left-column {
  position: absolute;
  background-color: rgb(4, 68, 72);
  color: aliceblue;
  width: 280px;
  height: 100%;
}

@media (max-width: 700px){
  #left-column {
    position: relative;
    width: 100%;
    height: auto;
  } 

  #body-content {
    position: relative;
    width: 100%;
    margin: 0; 
   
  } 
}