<div id="card-wrapper">
  <div id="card-front" class="card">
    <div class="details">
      <div class="header">
        {{ option.getName }}
      </div>
      <div class="subheader">
        ${{ option.getPrice }}
      </div>
    </div>
    <div class="checkmark" [style.opacity]="getCheckmarkOpacity()"></div>
  </div>
  <div id="card-back" class="card">
    <div class="details">
      <div class="description" [innerHTML]="description">
      </div>
    </div>
    <div class="checkmark" [style.opacity]="getCheckmarkOpacity()"></div>
  </div>
</div>